body{font-size: 13px; font-family: "Open Sans", Helvetica, Arial, sans-serif; color: $color-text; }

.content-wrapper{position: relative;min-height: calc(100vh - 50px);}

.flex-col {
  flex-direction: column;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.font-medium {
  font-weight: 500;
}
a {
  color: #61dafb;
  &:hover, &:focus{
    color: #61dafb;
  }
}
.p-48{padding: 3.8rem;}
.p-30{padding: 3.0rem;}
.w-128{width: 12.8rem;}
.pt-128{padding-top: 12.8rem;}
.mb-48{margin-bottom: 4.8rem;}
.mb-36{margin-bottom: 3.6rem;}
.mb-40{margin-bottom: 4.0rem;}
.pt-28{padding-top: 2.8rem;}
.pt-24{padding-top: 2.4rem;}
.btn{font-size: 1.0rem; line-height: 1.75;}
.form-control{font-size: 1.0rem; line-height: 1.75;}
.btn-form {
  color: #fff;
  background-color: #2c3e50;
  border-color: #2c3e50;
  &:hover{
    color:#fff;
    background-color: #435c75;
    border-color: #2c3e50;
  }
}
.navbar-left, .pull-left {
  float: left;
}
.navbar-right, .pull-right {
  float: right;
}
.fixed-navbar #page-container {
  padding-top: 48px;
}
.no-header {
  #page-container{
    padding-top: 0px;
  }
  .content {
    padding: 0px;
  }
}
.navbar-nav {
  & > li {
    & > a.nav-link {
      color: #fff;
      border-bottom: 3px solid transparent;
      &:hover{
        color: #53a8c1!important;
      }
      &.active, &:focus{
        color: #53a8c1!important;
      }
    }
  }
}
  .bg-dark{
    background: #2c3e50!important;
  }


.welcome{
  .nav-link{

    &:hover{
      border-bottom-color: #192d3e;
      color: #53a8c1!important;
    }
    &.active{
      color: #53a8c1;
    }
  }
}
.user-nav{
  &:hover{
    cursor: pointer;
    border-bottom-color: transparent!important;
  }
  .user-img{
    float: left;
    width: 30px;
    height: 30px;
    margin: -5px 0 0 0;
  }
}
.content {
  padding: 20px 20px 20px 20px;
  min-width: 320px;
  transition: all 0.4s ease 0s;
}
.list-options {display:flex; padding: 0px 0px 10px 0px;}
.list-options h2, .list-options .title {flex:1; font-size:1.5em; font-weight:500; line-height: 1.8em; margin-bottom: 0px}
.list-options .btn-options {flex:1; }
.w-10{min-width: 10rem;}
.sort-filter {
  .dropdown-menu li{padding: 0px;}
  .dropdown-menu .dropdown-item{
    background: transparent; border: none; padding: 3px auto;
    &.active{
      color: white;
      background-color: #337ab7;
    }
  }
}
.btn-default {
  background-color: #fff;
  border-color: #e4e5e7;
  color: #6a6c6f;
}
.bold, .text-bold{font-weight: 600;}
.btn-sm, .btn-group-sm > .btn {
  font-size: 0.9275rem;
  line-height: 1.5;
}
.btn.loading.disabled, .btn.loading:disabled{opacity: 0.85; cursor: auto;}
.fixed-navbar .content {
  margin-left: 300px;
}
.fixed-navbar.mini-sidebar .content {
  margin-left: 30px;
}
.fixed-navbar.no-sidebar .content { margin-left: 0px !important;}
.form-label{font-weight: 600;}
.popover-actions{
  text-align: center;
  list-style: none; margin-bottom: 0px;
  padding-left: 0px;
  li {
    width: 90px;
    padding: 5px;
    text-align: center;
    font-size: 11px;
    border-radius: 5px;
    color: $color-text;
    display: block;
    cursor: pointer;
    svg {
      padding: 2px;
      display: block;
      margin: 0px auto;
      color: $color-text;
    }
    &:hover{
      background-color: #eee;
    }
  }
}
.date-range{
  display: flex;
  .date-range-block{
    width: 50%;
    padding-left: 5px; padding-right: 5px;
    .label{font-weight: normal;margin-bottom: 0px;}
    &:first-child{padding-left: 0px}
    &:last-child{padding-right: 0px}
  }
}

.input-group .react-datepicker-wrapper {
  position: relative;
  flex: 1 1;
}